{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for product in products reversed %}
        <ul>
            <li>
                <div>
                    <a href="{% url 'product' product.id %}">{{ product.title }}</a>
                </br>
                    <img src="{{ product.imageUrl }}" alt="Product Image">
                </br>
                    {{ product.description }} &emsp; ${{ product.startingBid }}
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}