{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
        <!-- Listing Description Content -->
        <div class="col-md-4">
            {% if message %}
                <h4>{{ message }}</h4>
            {% endif %}
            <div class="card" style="width: 27rem;">
                <img class="card-img-top" src="{{ listing.imageUrl }}" class="img-fluid" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <hr/>
                    <p class="card-text">{{ listing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <hr/>
                    <li class="list-group-item">Starting Bid: ${{ listing.startingBid }}</li>
                    <li class="list-group-item">Category: {{ listing.category.name }}</li>
                    <li class="list-group-item">Created By: {{ listing.seller.username }}</li>
                    <li class="list-group-item">Date: {{ listing.creationDate.day }}/{{ listing.creationDate.month }}/{{ listing.creationDate.year }}</li>
                </ul>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        {% if isWatching == False %}
                            {% if listing.active == True %}
                                <form action="{% url 'addWatchlist' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-success" type="submit" value="Add Witchlist">
                                </form>
                            {% endif %}
                        {% else %}
                            <form action="{% url 'removeWatchlist' listing.id %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Remove Witchlist">
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div> <!-- End Listing Description Content -->
        <div class="col-md-6">
            <div class="col-sm-9">
                <!-- Listing Status Content -->
                {% if user.username == listing.seller.username and listing.active != False %}
                    <br/>
                    <form action="{% url 'closeListing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Close Listing">
                    </form>
                    <br/>
                {% endif %}
                {% if listing.active == False %}
                    <span class="badge badge-pill badge-danger">Closed</span>
                    <ul>
                        <li style="display: inline-block; padding-left: 0;">
                            Winner: {{ bid.userBid.username }}
                        </li>
                        <li style="display: inline-block;">
                            Winning Bid: ${{ bid.bid }}
                        </li>
                        <li style="display: inline-block;">
                            Endend at {{ listing.saleDate.day }}/{{ listing.saleDate.month }}/{{ listing.saleDate.year }}
                        </li>
                    </ul>
                {% else %}
                    <span class="badge badge-pill badge-success">Active</span>
                {% endif %}
                <!-- End Listing Status Content -->
                <hr/>
            </div>
            <div class="col-md-9"> <!-- Listing Bid Content -->
                {% if listing.active == True %}
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Current Bid: ${{ bid.bid }}
                                {% if bid.bid != 0 %}
                                    - By: {{ bid.userBid.username }}
                                {% endif %}
                            </h4>
                            <hr/>
                            {% if user.is_authenticated %}
                                <form action="{% url 'bid' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="listingBid" placeholder="Add bid: $0.00" min="{{ bid.listingBid }}" step="0.01">
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Create Bid">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div> <!-- End Listing Bid Content -->
            <br/>
            <div class="col-md-9"> <!-- Listing Comments Content -->
                <div class="card">
                    <div class="card-body">
                        <h3>Comments:</h3>
                        <hr/>
                        <div class="user_comment">
                            {% for comment in comments %}
                                <div class="card">
                                    <div class="card-body">
                                        <p>{{ comment.userComment.username }} - {{ comment.creationDate.day }}/{{ comment.creationDate.month }}/{{ comment.creationDate.year }}</p>
                                        <p>{{ comment.comment }}</p>
                                        {% if user.username == comment.userComment.username %}
                                            <form action="{% url 'deleteComment' listing.id comment.id %}" method="post">
                                                {% csrf_token %}
                                                <input class="btn btn-danger btn-sm" type="submit" value="Delete Comment">
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if user.is_authenticated %}
                            <br/>
                            <form action="{% url 'addComment' listing.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" placeholder="Comment"></textarea>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Add comment">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- End Listing Comments Content -->
        </div>
    </div>
{% endblock %}